<nav class="nav">
  <h1>
    <span style="color: #f8cb46">Flavor</span
    ><span style="color: #54b226">Kart</span>
  </h1>
  <!-- <div>
    <input type="text" placeholder="Search for Products" />
    <button>Search</button>
  </div> -->
  <div class="search-container">
    <input type="text" placeholder="Search..." class="search-input" />
    <button type="submit" class="search-button">Search</button>
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/seller-auth">Seller</a></li>
    <li><a routerLink="#">Login</a></li>
    <li><a routerLink="#">Cart(0)</a></li>
  </ul>
</nav>
