<!-- <nav class="nav">
  <h1>
    <a style="text-decoration: none" routerLink="/">
      <span style="color: #f8cb46">Flavor</span
      ><span style="color: #54b226">Kart</span>
    </a>
  </h1>
  <div *ngIf="menuType === 'default'" class="search-container">
    <input type="text" placeholder="Search..." class="search-input" />
    <button type="submit" class="search-button">Search</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="" class="cart-link">Home</a></li>
      <li><a routerLink="seller-auth" class="cart-link">Seller</a></li>
      <li><a routerLink="#" class="cart-link">Login</a></li>
      <li><a routerLink="#" class="cart-link">Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li>
        <a routerLink="#" class="cart-link">{{ sellerName | titlecase }}</a>
      </li>
      <li>
        <a routerLink="seller-add-product" class="cart-link">Add Product</a>
      </li>
      <li><a routerLink="/seller-home" class="cart-link">Product List</a></li>
      <li><a (click)="logout()" class="cart-link">Logout</a></li>
    </ul>
  </div>
</nav> -->

<nav class="custom-nav sticky-top">
  <h1>
    <a style="text-decoration: none" routerLink="/">
      <span class="custom-nav-primary-color">Flavor</span
      ><span class="custom-nav-secondary-color">Kart</span>
    </a>
  </h1>
  <div *ngIf="menuType === 'default'" class="search-container">
    <input
      type="text"
      #searchInput
      (keyup)="searchProducts($event)"
      (blur)="hideSearch()"
      placeholder="Search..."
      class="custom-nav-input"
    />
    <button
      (click)="submitSearch(searchInput.value)"
      type="submit"
      class="custom-nav-button"
    >
      Search
    </button>
    <ul class="suggested-result" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'" class="custom-nav-list">
      <li><a routerLink="" class="custom-nav-link">Home</a></li>
      <li><a routerLink="seller-auth" class="custom-nav-link">Seller</a></li>
      <li>
        <a routerLink="user-auth" class="custom-nav-link">Login or Sign Up</a>
      </li>
      <li>
        <a routerLink="#" class="custom-nav-link custom-nav-button cart-color"
          ><fa-icon class="update-icon" [icon]="cart"></fa-icon> &nbsp; Cart
          {{ cartItems }}</a
        >
      </li>
    </ul>
    <ul *ngSwitchCase="'user'" class="custom-nav-list">
      <li>
        <a routerLink="user-auth" class="custom-nav-link">{{
          userName | titlecase
        }}</a>
      </li>
      <li><a routerLink="" class="custom-nav-link">Home</a></li>
      <li><a routerLink="seller-auth" class="custom-nav-link">Seller</a></li>
      <li>
        <a (click)="userLogout()" routerLink="user-auth" class="custom-nav-link"
          >Logout</a
        >
      </li>
      <li>
        <a
          routerLink="cart-page"
          class="custom-nav-link custom-nav-button cart-color"
          ><fa-icon class="update-icon" [icon]="cart"></fa-icon> &nbsp; Cart
          {{ cartItems }}</a
        >
      </li>
    </ul>
    <ul *ngSwitchCase="'seller'" class="custom-nav-list">
      <li>
        <a routerLink="#" class="custom-nav-link">{{
          sellerName | titlecase
        }}</a>
      </li>
      <li>
        <a routerLink="seller-add-product" class="custom-nav-link"
          >Add Product</a
        >
      </li>
      <li>
        <a routerLink="/seller-home" class="custom-nav-link">Product List</a>
      </li>
      <li><a (click)="logout()" class="custom-nav-link">Logout</a></li>
    </ul>
  </div>
</nav>
