.custom-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-nav h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.custom-nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-nav-list li {
  padding-left: 15px;
}

.custom-nav-link {
  text-decoration: none;
  color: #353b48;
  font-family: Poppins;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.custom-nav-link:hover {
  color: #54b226;
}

.search-container {
  display: flex;
  align-items: center;
}

.custom-nav-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 14px;
  width: 350px;
}

.custom-nav-button {
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
}

.custom-nav-button:hover {
  background-color: #45a049;
}

.custom-nav-primary-color {
  color: #f8cb46;
}

.custom-nav-secondary-color {
  color: #54b226;
}


.background-color {
  color: #333;
}

.cart-color:hover {
  color: #4caf50;
  background-color: #fff;
}

.suggested-result {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 40px;
  z-index: 999;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-size: 14px;
}

.suggested-result li {
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.suggested-result li a {
  text-decoration: none;
  color: #353b48;
}

.suggested-result li:hover {
  background-color: #eaeaea;
}

.suggested-result li:first-child {
  border-top: none;
}

.suggested-result li:last-child {
  border-bottom: none;
}

.suggested-result li::before {
  content: "\2022";
  color: #54b226;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.suggested-result li:hover::before {
  color: #f8cb46;
}

.suggested-result li span {
  color: #888;
  font-size: 12px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .custom-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-nav-list {
    margin-top: 10px;
  }

  .search-container {
    margin-top: 10px;
    margin-right: 0;
  }

  .custom-nav-input {
    width: 100%;
  }
}
