.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.add-product h1 {
  color: #54b226;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.common-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.common-form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Poppins;
}

.common-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Poppins;
}

.common-form button {
  width: 100%;
  padding: 10px;
  background-color: #54b226;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
}

.common-form button:hover {
  background-color: #4b9f20;
}

.p_message {
  color: #54b226;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
