<div class="my-orders">
    <h1>My Orders</h1>
    <div class="row">
        <div class="col-sm-2">
            <span><b>Order</b></span>
        </div>
        <div class="col-sm-2">
            <span><b>Order Id</b></span>
        </div>
        <div class="col-sm-2">
            <span><b>Price</b></span>
        </div>
        <div class="col-sm-2">
            <span><b>Status</b></span>
        </div>
        <div class="col-sm-2">
            <span><b>Action</b></span>
        </div>
    </div>
    <div class="row" *ngFor="let order of orderData">
        <div class="col-sm-2">
            <img src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png" alt="">
        </div>
        <div class="col-sm-2">
            <span>#{{ order.id }}</span>
        </div>
        <div class="col-sm-2">
            <span>{{ order.totalPrice }}</span>
        </div>
        <div class="col-sm-2">
            <span>In Process</span>
        </div>
        <div class="col-sm-2">
            <span class="order-action"><button>Cancel Order</button></span>
        </div>
    </div>
</div>



<!-- <div class="my-orders">
  <h1>My Orders</h1>
  <div class="order-row" *ngFor="let order of orderData">
    <div class="order-item">
      <div class="order-image">
        <img
          src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png"
          alt="Order Image"
        />
      </div>
      <div class="order-details">
        <div class="order-info">
          <div class="order-field">
            <span class="field-label">Order:</span>
            <span>Order 1</span>
          </div>
          <div class="order-field">
            <span class="field-label">Order ID:</span>
            <span>#{{ order.id }}</span>
          </div>
          <div class="order-field">
            <span class="field-label">Price:</span>
            <span>{{ order.totalPrice }}</span>
          </div>
          <div class="order-field">
            <span class="field-label">Status:</span>
            <span>In Process</span>
          </div>
        </div>
        <div class="order-action">
          <button>Cancel Order</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
