.user-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-auth h1 {
  color: #54b226;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.user-auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.user-auth form input[type="text"],
.user-auth form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Poppins;
}

.user-auth form button {
  width: 100%;
  padding: 10px;
  background-color: #54b226;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Poppins;
}

.user-auth form button:hover {
  background-color: #4b9f20;
}

.user-auth .auth-toggle-link {
  color: #54b226;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}

.user-auth .auth-toggle-link:hover {
  color: #4b9f20;
}

.invalid-message {
  color: #ff6347;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}

.user-auth form button:disabled {
  cursor: not-allowed;
}

.user-login p.invalid-credentials {
  color: red;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}
