* {
  margin: 0;
}
body {
  font-family: Poppins;
  /* overflow: hidden; */
  /* background-color: #e0e0e0; */
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}
.carousel-control-next-icon {
  /* background-color: green;
  width: 50px;
  height: 50px;
  margin-top:200px; */
  color: red;
}

@media only screen and (max-width: 768px) {
  .seller-auth {
    height: auto;
    padding: 20px;
  }

  .common-form {
    width: 100%;
  }
}
